.pai-dos-lados{
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
}
.pai-dos-lados div{
    width: 50%;
}
.pai-dos-lados .lado-direito img{
    width: 100%;
}
.pai-dos-lados .lado-esquerdo p{
    text-align: justify;
}
.pai-dos-lados .lado-esquerdo{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.pai-dos-lados .lado-esquerdo button{
    width: 200px;
    border: 2px black solid;
    border-radius: 4px;
    padding: 10px 20px;
    background-color:rgb(66, 100, 165);
    color: rgb(255, 255, 255);
    box-shadow: blue 3px 3px 3px;
    cursor: pointer;

}
.pai-dos-lados .lado-esquerdo button:hover{
    background: blue;
}
.pai-dos-lados .lado-esquerdo h1, .Newsletter h2{
    text-transform: uppercase;
}
.Newsletter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}
.Newsletter .filho{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.Newsletter .form input{
    padding: 10px 6px;
}
@media screen and (max-width: 780px){
    .Newsletter form {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}
    

@media screen and (max-width:733px){
   .pai-dos-lados {
    flex-direction: column-reverse;
   }
   .pai-dos-lados div{
    width: 100%;
}
}



